body
{
  font-family: sans-serif;
  background-color: #f2f2f2;
}

#englobe_affichage
{
  display: inline-block;
  float: left;
  width: 31.8%;
  height: 70%;
  margin-right: 2%;
}
#affichage
{
  float: left;
  width: 100%;
  height: 90%;
  margin-bottom: 2px;
}
#reset_button
{
  float: left;
  width: 240px;
  height: 104px;
  margin: 2px;
}
#reset_level
{
  float: right;
  width: 240px;
  height: 104px;
  margin: 2px;
}
#chosen_level
{
  float: top;
  width: 113px;
  height: 50px;
  margin: 2px;
}
#get_level
{
  float: bottom;
  width: 113px;
  height: 50px;
  margin: 2px;
}

#englobe_saisie
{
  display: inline-block;
  text-align: center;
  float: left;
  width: 31.8%;
  height: 70%;
  background-color: limegreen;
  border: 5px solid black;
  border-color: green;
  min-width: 400px;
  min-height: 500px;
  padding-top: 5px;
}
#saisie
{
	text-align: center;
	float: left;
  width: 100%;
	height: 40%;
  display: inline-block;
  background-color: limegreen;
  min-height: 405px;
  min-width: 31.8%;
}
#corbeille
{
  text-align: center;
  float: center;
  width: 95%;
  height: 55%;
  min-height: 50px;
  border: 1px;
  border-style:solid;
  display: inline-block;
  background-color: purple;
  margin-bottom: 5px;
  padding: 5px;
}
#voir_le_code
{
  text-align: center;
  width: 48%;
}
#delete_all
{
  text-align: center;
  width: 48%;
}

#englobe_block
{

}
#block
{
  display: inline-block;
  text-align: center;
  float: right;
  width: 31.8%;
  height: 50%;
  background-color: lightblue;
  border: 5px solid black;
  border-color: cyan;
/*min-width: 400px;
  min-height: 500px;*/
  padding: 5px;
  margin: 8px;
}
select
{
  text-align: center;
  float: right;
  width: 10%;
}
#indication
{
  display: inline-block;
  text-align: center;
  float: right;
  width: 31.8%;
  height: 100%;
  background-color: orange;
  border: 5px solid black;
  border-color: red;
/*min-width: 400px;
  min-height: 500px;*/
  padding: 5px;
  margin: 8px;
}
#erreurs
{
  display: inline-block;
  text-align: center;
  float: right;
  width: 31.8%;
  height: 100%;
  background-color: yellow;
  border: 5px solid black;
  border-color: orange;
/*min-width: 400px;
  min-height: 500px;*/
  padding: 5px;
  margin: 8px;
}

#invisible
{
  display: none;
}
.invisible
{
  display: :none;
}

#help
{
  text-align: right;
  float: right;
  vertical-align: top;
}

.action 
{
  text-align: left;
  display: block;
  color: yellow;
  background-color: #822520;
  border: 4px solid #3D110F;
  cursor: move;
  margin: 5px;
}

pre
{
  display: none;
}